.container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #2a4365;
}

h2 {
  margin: 20px 0;
  color: #333;
}

.buttons button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #e92d7b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.buttons button:hover {
  background-color: #91186b;
}
