body {
  margin: 0;
  font-family: Arial;
  background: #f0f0f0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  background: green;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.success {
  color: green;
  margin-top: 10px;
}